.accidentArea {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    width: 95vw;
    height: 28vw;
    background-color: #fff;
    border-radius: 2vw;
    box-sizing: border-box;
    padding: 3vw;
}

.title {
    font-size: 4vw;
    font-weight: bold;
}

.items {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
}

.subTitle {
    font-size: 3vw;
    
}

.item {
    font-size: 2vw;
}